<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_id</key>
	<string>6a18017d</string>
	<key>app_key</key>
	<string>56b29c7fe0addda91493a8cb0f9d0e73</string>
</dict>
</plist>
